<form (ngSubmit)="f.form.valid && addValue()" #f="ngForm">
	<div class="agregar">
		<div class="agregar_contenedor">
			<select [ngClass]="{redfocus: type === 'egresoOperation'}" (change)="operationType($event)"
				class="agregar_tipo">
				<option value="ingresoOperation" selected>+</option>
				<option value="egresoOperation">-</option>
			</select>
			<input [ngClass]="{redfocus: type === 'egresoOperation'}" type="text" class="agregar_descripcion"
				placeholder="Agregar Descripción" name="descriptionInput" [(ngModel)]="descriptionInput" required>
			<input [ngClass]="{redfocus: type === 'egresoOperation'}" type="number" class="agregar_valor"
				placeholder="Valor" name="valueInput" [(ngModel)]="valueInput" required>
			<button type="submit" class="agregar_btn">
				<i [ngClass]="{red: type === 'egresoOperation'}" class="ion-ios-checkmark-outline"></i>
			</button>
		</div>
	</div>
</form>
